In [1]:
# Import the Pandas library
import pandas as pd
# Load the train and test datasets to create two DataFrames
train_url = "http://s3.amazonaws.com/assets.datacamp.com/course/Kaggle/train.csv"
train = pd.read_csv(train_url)

In [2]:
#Print the `head` of the train and test dataframes
#train_head=train.head()
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
test_url = "http://s3.amazonaws.com/assets.datacamp.com/course/Kaggle/test.csv"
test = pd.read_csv(test_url)

In [4]:
#Print the `head` of the train and test dataframes
#test_head=test.head()
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [6]:
# Passengers that survived vs passengers that passed away
print(train["Survived"].value_counts())

# As proportions
print(train["Survived"].value_counts(normalize = True))

# Males that survived vs males that passed away
print(train["Survived"][train["Sex"] == 'male'].value_counts())

# Females that survived vs Females that passed away
print(train["Survived"][train["Sex"] == 'female'].value_counts())

# Normalized male survival
print(train["Survived"][train["Sex"] == 'male'].value_counts(normalize = True))

# Normalized female survival
print(train["Survived"][train["Sex"] == 'female'].value_counts(normalize = True))

0    549
1    342
Name: Survived, dtype: int64
0    0.616162
1    0.383838
Name: Survived, dtype: float64
0    468
1    109
Name: Survived, dtype: int64
1    233
0     81
Name: Survived, dtype: int64
0    0.811092
1    0.188908
Name: Survived, dtype: float64
1    0.742038
0    0.257962
Name: Survived, dtype: float64

In [5]:
# Create the column Child and assign to 'NaN'
train["Child"] = float('NaN')

# Assign 1 to passengers under 18, 0 to those 18 or older. Print the new column.
train["Child"][train["Age"] < 18] = 1
train["Child"][train["Age"] >= 18] = 0
print(train["Child"])

# Print normalized Survival Rates for passengers under 18
print(train["Survived"][train["Child"] == 1].value_counts(normalize = True))

# Print normalized Survival Rates for passengers 18 or older
print(train["Survived"][train["Child"] == 0].value_counts(normalize = True))

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
5      NaN
6      0.0
7      1.0
8      0.0
9      1.0
10     1.0
11     0.0
12     0.0
13     0.0
14     1.0
15     0.0
16     1.0
17     NaN
18     0.0
19     NaN
20     0.0
21     0.0
22     1.0
23     0.0
24     1.0
25     0.0
26     NaN
27     0.0
28     NaN
29     NaN
      ...
861    0.0
862    0.0
863    NaN
864    0.0
865    0.0
866    0.0
867    0.0
868    NaN
869    1.0
870    0.0
871    0.0
872    0.0
873    0.0
874    0.0
875    1.0
876    0.0
877    0.0
878    NaN
879    0.0
880    0.0
881    0.0
882    0.0
883    0.0
884    0.0
885    0.0
886    0.0
887    0.0
888    NaN
889    0.0
890    0.0
Name: Child, dtype: float64
1    0.539823
0    0.460177
Name: Survived, dtype: float64
0    0.618968
1    0.381032
Name: Survived, dtype: float64

C:\Users\nitinahu\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\nitinahu\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [9]:
# Create a copy of test: test_one
test_one=test

# Initialize a Survived column to 0
test_one["Survived"]=0

# Set Survived to 1 if Sex equals "female" and print the `Survived` column from `test_one`
test_one["Survived"][test_one["Sex"] == "female"] = 1
print(test_one.Survived)

0      0
1      1
2      0
3      0
4      1
5      0
6      1
7      0
8      1
9      0
10     0
11     0
12     1
13     0
14     1
15     1
16     0
17     0
18     1
19     1
20     0
21     0
22     1
23     0
24     1
25     0
26     1
27     0
28     0
29     0
      ..
388    0
389    0
390    0
391    1
392    0
393    0
394    0
395    1
396    0
397    1
398    0
399    0
400    1
401    0
402    1
403    0
404    0
405    0
406    0
407    0
408    1
409    1
410    1
411    1
412    1
413    0
414    1
415    0
416    0
417    0
Name: Survived, dtype: int64

C:\Users\nitinahu\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [13]:
'''Before you can begin constructing your trees you
need to get your hands dirty and clean the data 
so that you can use all the features available to you. 
In the first chapter, we saw that the Age variable had some missing value. 
Missingness is a whole subject with and in itself, but we will use a simple imputation technique 
where we substitute each missing value with the median of the all present values.

train["Age"] = train["Age"].fillna(train["Age"].median()) '''

#Convert the male and female groups to integer form
train["Sex"][train["Sex"] == "male"] = 0
train["Sex"][train["Sex"] == "female"] = 1

#Impute the Embarked variable
train["Embarked"] = train["Embarked"].fillna("S")

#Convert the Embarked classes to integer form
train["Embarked"][train["Embarked"] == "S"] = 0
train["Embarked"][train["Embarked"] == "C"] = 1
train["Embarked"][train["Embarked"] == "Q"] = 2

#Print the Sex and Embarked columns
print(train["Sex"])
print(train["Embarked"])

C:\Users\nitinahu\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\nitinahu\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\nitinahu\AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\core\ops.py:714: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = getattr(x, name)(y)

TypeError: invalid type comparison

In [14]:
'''Creating your first decision tree
100xp
You will use the scikit-learn and numpy libraries to build your first decision tree. 
scikit-learn can be used to create tree objects from the DecisionTreeClassifier class. 
The methods that we will use take numpy arrays as inputs and therefore we will need to create those from the DataFrame that we already have. 
We will need the following to build a decision tree

target: A one-dimensional numpy array containing the target/response from the train data. (Survival in your case)
features: A multidimensional numpy array containing the features/predictors from the train data. (ex. Sex, Age)
Take a look at the sample code below to see what this would look like:

target = train["Survived"].values

features = train[["Sex", "Age"]].values

my_tree = tree.DecisionTreeClassifier()

my_tree = my_tree.fit(features, target)

One way to quickly see the result of your decision tree is to see the importance of the features that are included. 
This is done by requesting the .feature_importances_ attribute of your tree object. 
Another quick metric is the mean accuracy that you can compute using the .score() function with features_one and target as arguments.

Ok, time for you to build your first decision tree in Python! The train and testing data from chapter 1 are available in your workspace.'''

import numpy as np
from sklearn import tree

# Print the train data to see the available features
print(train)

# Create the target and features numpy arrays: target, features_one
target = train["Survived"].values
features_one = train[["Pclass", "Sex", "Age", "Fare"]].values

# Fit your first decision tree: my_tree_one
my_tree_one = tree.DecisionTreeClassifier()
my_tree_one = my_tree_one.fit(features_one, target)

# Look at the importance and score of the included features
print(my_tree_one.feature_importances_)
print(my_tree_one.score(features_one, target))

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
5              6         0       3
6              7         0       1
7              8         0       3
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
12            13         0       3
13            14         0       3
14            15         0       3
15            16         1       2
16            17         0       3
17            18         1       2
18            19         0       3
19            20         1       3
20            21         0       2
21            22         1       2
22            23         1       3
23            24         1       1
24            25         0       3
25            26         1       3
26            27         0       3
27            28         0       1
28            29         1       3
29            30         0       3
..           ...       ...     ...
861          862         0       2
862          863         1       1
863          864         0       3
864          865         0       2
865          866         1       2
866          867         1       2
867          868         0       1
868          869         0       3
869          870         1       3
870          871         0       3
871          872         1       1
872          873         0       1
873          874         0       3
874          875         1       2
875          876         1       3
876          877         0       3
877          878         0       3
878          879         0       3
879          880         1       1
880          881         1       2
881          882         0       3
882          883         0       3
883          884         0       2
884          885         0       3
885          886         0       3
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris   0  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...   1  38.0      1
2                               Heikkinen, Miss. Laina   1  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)   1  35.0      1
4                             Allen, Mr. William Henry   0  35.0      0
5                                     Moran, Mr. James   0   NaN      0
6                              McCarthy, Mr. Timothy J   0  54.0      0
7                       Palsson, Master. Gosta Leonard   0   2.0      3
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)   1  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)   1  14.0      1
10                     Sandstrom, Miss. Marguerite Rut   1   4.0      1
11                            Bonnell, Miss. Elizabeth   1  58.0      0
12                      Saundercock, Mr. William Henry   0  20.0      0
13                         Andersson, Mr. Anders Johan   0  39.0      1
14                Vestrom, Miss. Hulda Amanda Adolfina   1  14.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)    1  55.0      0
16                                Rice, Master. Eugene   0   2.0      4
17                        Williams, Mr. Charles Eugene   0   NaN      0
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...   1  31.0      1
19                             Masselmani, Mrs. Fatima   1   NaN      0
20                                Fynney, Mr. Joseph J   0  35.0      0
21                               Beesley, Mr. Lawrence   0  34.0      0
22                         McGowan, Miss. Anna "Annie"   1  15.0      0
23                        Sloper, Mr. William Thompson   0  28.0      0
24                       Palsson, Miss. Torborg Danira   1   8.0      3
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...   1  38.0      1
26                             Emir, Mr. Farred Chehab   0   NaN      0
27                      Fortune, Mr. Charles Alexander   0  19.0      3
28                       O'Dwyer, Miss. Ellen "Nellie"   1   NaN      0
29                                 Todoroff, Mr. Lalio   0   NaN      0
..                                                 ...  ..   ...    ...
861                        Giles, Mr. Frederick Edward   0  21.0      1
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...   1  48.0      0
863                  Sage, Miss. Dorothy Edith "Dolly"   1   NaN      8
864                             Gill, Mr. John William   0  24.0      0
865                           Bystrom, Mrs. (Karolina)   1  42.0      0
866                       Duran y More, Miss. Asuncion   1  27.0      1
867               Roebling, Mr. Washington Augustus II   0  31.0      0
868                        van Melkebeke, Mr. Philemon   0   NaN      0
869                    Johnson, Master. Harold Theodor   0   4.0      1
870                                  Balkic, Mr. Cerin   0  26.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)   1  47.0      1
872                           Carlsson, Mr. Frans Olof   0  33.0      0
873                        Vander Cruyssen, Mr. Victor   0  47.0      0
874              Abelson, Mrs. Samuel (Hannah Wizosky)   1  28.0      1
875                   Najib, Miss. Adele Kiamie "Jane"   1  15.0      0
876                      Gustafsson, Mr. Alfred Ossian   0  20.0      0
877                               Petroff, Mr. Nedelio   0  19.0      0
878                                 Laleff, Mr. Kristo   0   NaN      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)   1  56.0      0
880       Shelley, Mrs. William (Imanita Parrish Hall)   1  25.0      0
881                                 Markun, Mr. Johann   0  33.0      0
882                       Dahlberg, Miss. Gerda Ulrika   1  22.0      0
883                      Banfield, Mr. Frederick James   0  28.0      0
884                             Sutehall, Mr. Henry Jr   0  25.0      0
885               Rice, Mrs. William (Margaret Norton)   1  39.0      0
886                              Montvila, Rev. Juozas   0  27.0      0
887                       Graham, Miss. Margaret Edith   1  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"   1   NaN      1
889                              Behr, Mr. Karl Howell   0  26.0      0
890                                Dooley, Mr. Patrick   0  32.0      0

     Parch            Ticket      Fare        Cabin  Embarked  Child
0        0         A/5 21171    7.2500          NaN         0    0.0
1        0          PC 17599   71.2833          C85         1    0.0
2        0  STON/O2. 3101282    7.9250          NaN         0    0.0
3        0            113803   53.1000         C123         0    0.0
4        0            373450    8.0500          NaN         0    0.0
5        0            330877    8.4583          NaN         2    NaN
6        0             17463   51.8625          E46         0    0.0
7        1            349909   21.0750          NaN         0    1.0
8        2            347742   11.1333          NaN         0    0.0
9        0            237736   30.0708          NaN         1    1.0
10       1           PP 9549   16.7000           G6         0    1.0
11       0            113783   26.5500         C103         0    0.0
12       0         A/5. 2151    8.0500          NaN         0    0.0
13       5            347082   31.2750          NaN         0    0.0
14       0            350406    7.8542          NaN         0    1.0
15       0            248706   16.0000          NaN         0    0.0
16       1            382652   29.1250          NaN         2    1.0
17       0            244373   13.0000          NaN         0    NaN
18       0            345763   18.0000          NaN         0    0.0
19       0              2649    7.2250          NaN         1    NaN
20       0            239865   26.0000          NaN         0    0.0
21       0            248698   13.0000          D56         0    0.0
22       0            330923    8.0292          NaN         2    1.0
23       0            113788   35.5000           A6         0    0.0
24       1            349909   21.0750          NaN         0    1.0
25       5            347077   31.3875          NaN         0    0.0
26       0              2631    7.2250          NaN         1    NaN
27       2             19950  263.0000  C23 C25 C27         0    0.0
28       0            330959    7.8792          NaN         2    NaN
29       0            349216    7.8958          NaN         0    NaN
..     ...               ...       ...          ...       ...    ...
861      0             28134   11.5000          NaN         0    0.0
862      0             17466   25.9292          D17         0    0.0
863      2          CA. 2343   69.5500          NaN         0    NaN
864      0            233866   13.0000          NaN         0    0.0
865      0            236852   13.0000          NaN         0    0.0
866      0     SC/PARIS 2149   13.8583          NaN         1    0.0
867      0          PC 17590   50.4958          A24         0    0.0
868      0            345777    9.5000          NaN         0    NaN
869      1            347742   11.1333          NaN         0    1.0
870      0            349248    7.8958          NaN         0    0.0
871      1             11751   52.5542          D35         0    0.0
872      0               695    5.0000  B51 B53 B55         0    0.0
873      0            345765    9.0000          NaN         0    0.0
874      0         P/PP 3381   24.0000          NaN         1    0.0
875      0              2667    7.2250          NaN         1    1.0
876      0              7534    9.8458          NaN         0    0.0
877      0            349212    7.8958          NaN         0    0.0
878      0            349217    7.8958          NaN         0    NaN
879      1             11767   83.1583          C50         1    0.0
880      1            230433   26.0000          NaN         0    0.0
881      0            349257    7.8958          NaN         0    0.0
882      0              7552   10.5167          NaN         0    0.0
883      0  C.A./SOTON 34068   10.5000          NaN         0    0.0
884      0   SOTON/OQ 392076    7.0500          NaN         0    0.0
885      5            382652   29.1250          NaN         2    0.0
886      0            211536   13.0000          NaN         0    0.0
887      0            112053   30.0000          B42         0    0.0
888      2        W./C. 6607   23.4500          NaN         0    NaN
889      0            111369   30.0000         C148         1    0.0
890      0            370376    7.7500          NaN         2    0.0

[891 rows x 13 columns]

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [17]:
'''Predict and submit to Kaggle
100xp
To send a submission to Kaggle you need to predict the survival rates for the observations in the test set. 
In the last exercise of the previous chapter, we created simple predictions based on a single subset. 
Luckily, with our decision tree, we can make use of some simple functions to "generate" our answer without having to manually perform subsetting.

First, you make use of the .predict() method. 
You provide it the model (my_tree_one), the values of features from the dataset for which predictions need to be made (test).
To extract the features we will need to create a numpy array in the same way as we did when training the model.
However, we need to take care of a small but important problem first. There is a missing value in the Fare feature that needs to be imputed.

Next, you need to make sure your output is in line with the submission requirements of Kaggle: 
a csv file with exactly 418 entries and two columns: PassengerId and Survived. 
Then use the code provided to make a new data frame using DataFrame(), and create a csv file using to_csv() method from Pandas.'''


# Impute the missing value with the median
test.Fare[152] = test.Fare.median()

# Extract the features from the test set: Pclass, Sex, Age, and Fare.
test_features = test[["Pclass", "Sex", "Age", "Fare"]].values

# Make your prediction using the test set and print them.
my_prediction = my_tree_one.predict(test_features)
print(my_prediction)

# Create a data frame with two columns: PassengerId & Survived. Survived contains your predictions
PassengerId =np.array(test["PassengerId"]).astype(int)
my_solution = pd.DataFrame(my_prediction, PassengerId, columns = ["Survived"])
print(my_solution)

# Check that your data frame has 418 entries
print(my_solution.shape)

# Write your solution to a csv file with the name my_solution.csv
my_solution.to_csv("my_solution_one.csv", index_label = ["PassengerId"])

C:\Users\nitinahu\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

NotFittedError: Estimator not fitted, call `fit` before exploiting the model.

In [1]:
'''Overfitting and how to control it
0xp
When you created your first decision tree the default arguments for max_depth and min_samples_split were set to None. 
This means that no limit on the depth of your tree was set. 
That's a good thing right? Not so fast. 
We are likely overfitting. 
This means that while your model describes the training data extremely well, it doesn't generalize to new data, which is frankly the point of prediction. 
Just look at the Kaggle submission results for the simple model based on Gender and the complex decision tree. Which one does better?

Maybe we can improve the overfit model by making a less complex model? 
In DecisionTreeRegressor, the depth of our model is defined by two parameters: - 
the max_depth parameter determines when the splitting up of the decision tree stops. 
the min_samples_split parameter monitors the amount of observations in a bucket. 
If a certain threshold is not reached (e.g minimum 10 passengers) no further splitting can be done.

By limiting the complexity of your decision tree you will increase its generality and thus its usefulness for prediction!'''

# Create a new array with the added features: features_two
features_two = train[["Pclass","Age","Sex","Fare", "SibSp", "Parch", "Embarked"]].values

#Control overfitting by setting "max_depth" to 10 and "min_samples_split" to 5 : my_tree_two
max_depth = 10
min_samples_split = 5
my_tree_two = tree.DecisionTreeClassifier(max_depth = 10, min_samples_split = 5, random_state = 1)
my_tree_two = my_tree_two.fit(features_two, target)

#Print the score of the new decison tree
print(my_tree_two.score(features_two, target))

NameError: name 'train' is not defined